* {
  margin: 0px;
}

header {
  background-color: #eac926;
}

body {
  background-color: #ebebeb;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  width: 100%;
}

.busqueda {
  text-align: center;
  flex-grow: 5;
  padding-top: 5vh;
  padding-left: 1vh;
  border-right: 1vh;
  display: flex;
}

.barrabusqueda{
border:white solid 1vh;
border-radius: 1vh;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
width: 100%;
}

.botonbusqueda {
background-color: white;
border: white solid 1vh;
border-radius: 1vh;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

}
#padding {
  padding-left: 5vw;
  padding-right: 5vw;
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
}

.img-header{
  flex-grow: 5;
  width: 40%;
  padding-top: 5vh;
  padding-left: 5vh;
}

.header-item{
  padding: 5vh;
  width: 100%;
  text-align: center;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

header div.logo,
header .form {
  width: 50%;
}


header .form {
  display: flex;
  align-items: center;
  padding: 2px;
  font-size: 11px;
}

header nav {
  font-size: 12px;
  margin-left: 20px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 2px;
}

header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

div.burger-menu {
  text-align: center;
  border-bottom: solid #eac926 2vh;
}

div.burger-menu i {
  background-color: #1259c3;
  border-radius: 15%;
  color: #fff;
  padding: 10px;;
}

div.last-visit,
div.offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 22px;
  flex-grow: 3;
}
a {
  text-decoration: none;
  color: #000;
}

.discount {
  width: 70%;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

.description {
  display: none;
  margin-top: 20px;
}

section.banner img {
  width: 100%;
}

main {
  text-align: left;
  width: 90%;
  margin: auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
  margin: 0;
  flex-grow: 7;
  box-sizing: border-box;
  padding-top: 5px;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 20px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  box-sizing: border-box;
}
.truck{
  color: #39b54a;
  width: 20px;
  padding: 1vw;
  border: 1px solid #39b54a;
  border-radius: 50%;

}
  


main section h3 {
  margin: 20px 0px;
}

.description{
  color: #808080;
  text-align: left;
  margin: 2vw;
  font-size: 16px;
}


article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}


footer {
  text-align: center;
  background-color: white;
}
footer section p i{
  font-size: 8vh;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}
.ul-item {
padding: 2vh;
}

.icons-blue{
  color: #1259c3;
  width: 2em;
  margin-top: 5vw;
}

.icons-blue:hover{
  color: #808080;
  transition-duration: 0,6s;
}

@media (min-width: 361px) {
  main section article .description {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  main section div.products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }
}

@media (min-width: 769px) {
  main section div.products article {
    width: 22%;
  }
}